<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Animated Web Page</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <title>'Demo Web APP'</title>
    <div class="animated-box"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script>
         
        gsap.to(".animated-box", {duration: 30, x: 300,y: 300, rotation: 360});
    </script>
</body>
</html>
